*{  
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* common styles here */
.common-btn{
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
}
.common-btn-two{
    background: none;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: 1px solid white;
}
.btn-span{
    margin: 0px 5px;
}



/* header style here */
header{
    max-width: 1600px;
    border: 1px solid red;
    margin: 0 auto;
}

.container{
    width: 1360px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
li a{
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-weight: 500;
}

/* ---hero section style here------ */
.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    height: 700px;
    border: 1px solid green;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.early-acces-btn{
    display: flex;
    padding: 8px 12px;
    background-color: white;
    border-radius: 50px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #30B868;
    border: none;
    
}
.circle-div{
    width: 16px;
    height: 16px;
    background-color: #96ffc2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-div-two{
    width: 12px;
    height: 12px;
    background-color: #5ae393;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-div-three{
    width: 8px;
    height: 8px;
    background-color: #30B868;
    border-radius: 50%;
}

.hero-section h2{
    font-size: 72px;
    font-weight: 700;
    color: white;
}
.span-text{
    color: #30B868;
}

.hero-section p{
    font-size: 18px;
    color: white;
}

.hero-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-btn-div{
    display: flex;
    gap: 16px;
}