/* universal style */
*{  
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* common styles here */
.common-btn{
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.common-btn:hover{
    background-color: #F95555;
}

.common-btn-two{
    background: none;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
}
.common-btn-two:hover{
    background-color: #30B868;
    border: none;
}

.btn-span{
    margin: 0px 5px;
}

.container{
    width: 1360px;
    margin: 0 auto;
}


/* header style here */
header{
    max-width: 1600px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

a:hover{
    color: #008136;
    text-decoration: underline;
    text-decoration-color: #008136;
    text-underline-offset: 5px;
}
li a{
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-weight: 500;
}

/* ---hero section style here------ */
.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    height: 700px;
    border: 1px solid green;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.early-acces-btn{
    display: flex;
    padding: 8px 12px;
    background-color: white;
    border-radius: 50px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #30B868;
    border: none;
}
.circle-div{
    width: 16px;
    height: 16px;
    background-color: #96ffc2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-div-two{
    width: 12px;
    height: 12px;
    background-color: #5ae393;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-div-three{
    width: 8px;
    height: 8px;
    background-color: #30B868;
    border-radius: 50%;
}

.hero-section h2{
    font-size: 72px;
    font-weight: 700;
    color: white;
}
.span-text{
    color: #30B868;
}

.hero-section p{
    font-size: 18px;
    color: white;
}

.hero-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-btn-div{
    display: flex;
    gap: 16px;
}

/* ---notes section starts here */
.notes-section{
    margin-top: 115px;
    text-align: center;
}
.notes-section h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.notes-section p{
    color: #627382;
}

.card-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    gap: 24px;
}

.card{
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}

.card h5{
    font-size: 24px;
    font-weight: 600;
} 
.card p{
    color: #627382;
} 

/* ----second brain section style here */
.second-brain-section{
    margin-top: 120px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.second-brain-section h5{
    text-transform: uppercase;
    color: #30B868;
    font-weight: 500;
    margin-bottom: 16px;
}
.second-brain-section h3{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}
.second-brain-section p{
    color: #627382;
    margin-bottom: 40px;
}

.checklist{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}

/* think section style starts here */
.think-section{
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
    margin: 120px auto;
}
.think-section p{
    color: #627382;
    margin: 16px 0px 24px 0px;
}
.think-section h3{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}

.access-div{
    margin-top: 16px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: #627382;
    border: 1px solid red;
}

/* --footer styles here */
footer{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-content h5{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.footer-content a i{
    color: white;
    margin-right: 16px;
}

hr{
    color: #E5E7EB;
    opacity: 0.2;
}

.last-footer{
    text-align: center;
    color: rgba(250, 250, 250, 1);
}
.last-footer p{
    margin-top: 30px;
}